In [30]:
import pandas as pd

In [31]:
public_beds = pd.read_excel(open('data/aihw-hse-233-data-tables.xlsx', 'rb'), sheet_name='Table 4.8').T

In [32]:
list(public_beds)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [33]:
public_beds[[1,2]]

,1,2
"Table 4.8: Average available beds and beds per 1,000 population, public hospitals, 2013–14 to 2017–18",NaN,Public hospitals (other than psychiatric)
Unnamed: 1,2013–14,56503
Unnamed: 2,2014–15,58187
Unnamed: 3,2015–16,58775
Unnamed: 4,2016–17,59611
Unnamed: 5,2017–18(a),59514
Unnamed: 6,Average since 2013–14,1.3
Unnamed: 7,Since 2016–17,–0.2

In [34]:
public_beds_2017 = 59514

In [36]:
private_beds = 0
private_beds_2017 = 0

In [37]:
total_beds_2017 = 0