In [2]:
import pandas as pd

In [3]:
public_beds = pd.read_excel(open('data/aihw-hse-233-data-tables.xlsx', 'rb'), sheet_name='Table 4.8').T

In [12]:
public_beds

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
"Table 4.8: Average available beds and beds per 1,000 population, public hospitals, 2013–14 to 2017–18",NaN,NaN,Public hospitals (other than psychiatric),Same-day beds/chairs,Overnight beds,Public psychiatric hospitals,Total,"Beds per 1,000 population(a)","(a) For 2017–18, the Northern Territory was ...","(b) Rates of beds per 1,000 population hav...",Note: See Appendix A for notes on data limitat...,Sources: NPHED.,NaN,Contents
Unnamed: 1,NaN,2013–14,56503,7308,49195,2065,58567,2.53,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,2014–15,58187,7551,50636,2153,60340,2.57,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,2015–16,58775,7700,51075,2183,60957,2.56,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,2016–17,59611,8080,51532,2186,61797,2.55,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,2017–18(a),59514,8255,51259,2161,61675,2.51,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,Change (%),Average since 2013–14,1.3,3.1,1,1.1,1.3,–0.2,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 7,NaN,Since 2016–17,–0.2,2.2,–0.5,–1.1,–0.2,–1.6,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# using 2016 data because 2017 data doesn't seem to be available for private hospitals

public_beds_2016 = public_beds.loc[public_beds[1] == "2016–17"][2].values[0]

In [31]:
public_beds_2016

59611

In [34]:
private_beds = pd.read_excel(open('data/aihw-hse-233-data-tables.xlsx', 'rb'), sheet_name='Table 4.10').T
private_beds

,0,1,2,3,4,5,6,7,8,9,10
"Table 4.10: Licensed beds and beds per 1,000 population, private hospitals, 2012–13 to 2016–17",NaN,NaN,Private free-standing day hospital facilities,Other private hospitals,Total,"Beds per 1,000 population(a)","(a) Rates of available beds per 1,000 popul...",NaN,Sources: Private hospitals Australia reports (...,NaN,Contents
Unnamed: 1,NaN,2012–13,2938,26889,29827,1.31,NaN,NaN,NaN,NaN,NaN
Unnamed: 2,NaN,2013–14,2977,27943,30920,1.34,NaN,NaN,NaN,NaN,NaN
Unnamed: 3,NaN,2014–15,3095,28679,31774,1.35,NaN,NaN,NaN,NaN,NaN
Unnamed: 4,NaN,2015–16,3152,29922,33074,1.39,NaN,NaN,NaN,NaN,NaN
Unnamed: 5,NaN,2016–17,3310,31029,34339,1.42,NaN,NaN,NaN,NaN,NaN
Unnamed: 6,Change (%),Average since 2012–13,3,3.6,3.6,2,NaN,NaN,NaN,NaN,NaN
Unnamed: 7,NaN,Since 2015–16,5,3.7,3.8,2.1,NaN,NaN,NaN,NaN,NaN

In [37]:
private_beds_2016 = private_beds.loc[private_beds[1] == "2016–17"][4].values[0]
private_beds_2016

34339

In [42]:
total_beds_2016 = private_beds_2016 + public_beds_2016
total_beds_2016

93950

In [60]:
oz_pop = 25413009

In [61]:
total_beds_2016 / oz_pop

0.0036969254604993845

In [62]:
# as a percentage:

print(str((total_beds_2016 / oz_pop) * 100) + '%')

0.36969254604993845%

In [51]:
# data: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

In [50]:
# TODO
# create a basic predictive curve from either australian data or a country that has a similar profile to Australia
# use curve to create the "flattening the curve" graphic
# come to some conclusions about how deficient the Australian Government's plans/policies etc are currently and
# how many patients public/private hospitals can expect

In [ ]:
## Current area numbers and confirmed cases in area

In [ ]:
pd.read_csv('data/LGA-stats.csv')